
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/.history/
/.symfony/

/docker/mysql/
/src/.history/
/.history/
/.history/src/Controller/
/.history/src/
/docker/mysql/var/lib/mysql/
/var
/vendor

